/* .contact {
	background-color: #dbe2e8;
	font-family: "Oswald", sans-serif;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #07395c;
}

.section-contact {
  padding: 120px;
	background-color: #fff;
}

.section-contact .header-section .title {
	position: relative;
	margin-bottom: 17px;
	text-transform: uppercase;
  font-weight: 700;
  font-size: 60px;
}

.section-contact .header-section .description {
	font-family: "Roboto", sans-serif;
	color: #2a6287;
}

.section-contact .header-section .big-title {
	position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%,70%);
  font-size: 110px;
  font-weight: 700;
  opacity: 0.15;
}

.section-contact .form-contact .single-input {
	position: relative;
  	margin-top: 40px;
	outline: none;
}

.section-contact .form-contact .single-input i {
	position: absolute;
  	top: 5px;
  	left: 15px;
  	color: #de3842;
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input textarea {
	width: 100%;
  	border: none;
  	border-bottom: 2px solid #07395c;
	padding-left: 50px;  
  	padding-bottom: 15px;
  	font-size: 15px;
  	font-weight: 700;
	transition: border .3s;
	outline: none;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
	color: rgba(7, 57, 92, .3);
}

.section-contact .form-contact .single-input textarea {
	height: 100px;
	min-height: 100px;
}

.section-contact .form-contact .submit-input input {
	margin-top: 40px;
  padding: 15px 50px;
  background-color: #de3842;
  color: #fff;
  border: none;
  font-weight: 700;
  transition: background-color .3s;
}

.section-contact .form-contact .submit-input input:hover {
	background-color: #07395c;
}

@media (max-width: 575.99px) {
	.section-contact {
	  padding: 40px;
	}

	.section-contact .header-section .title {
	  font-size: 32px;
	}

	.section-contact .header-section .big-title {
		font-size: 55px;
	}

	.section-contact .header-section .description {
		font-size: 14px;
	}
}

@media (min-width: 576px) and (max-width: 767.99px) {
	.section-contact {
	  padding: 80px 60px;
	}

	.section-contact .header-section .title {
	  font-size: 45px;
	}

	.section-contact .header-section .big-title {
		font-size: 100px;
	}
}

@media (min-width: 768px) and (max-width: 991.99px) {
	.section-contact {
	  padding: 80px 60px;
	}

	.section-contact .header-section .title {
	  font-size: 45px;
	}

	.section-contact .header-section .big-title {
		font-size: 100px;
	}
} */

.form-body {
	background-color: #152733;
	overflow: hidden;
}

.form-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

.form-content .form-items {
  border: 3px solid #fff;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 700px;
  border-radius: 10px;
  text-align: left;
  transition: all 0.4s ease;
}

@media screen and (max-width: 500px) {
	.form-items {
		min-width: none;
	}
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
  color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 12px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
  font-weight: bold;
}


.btn-primary{
  background-color: #6C757D;
  outline: none;
  border: 0px;
   box-shadow: none;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  color: #000;
  outline: none;
  resize: none;
  height: 120px;
  transition: none;
  margin-bottom: 14px;
  font-weight: bold;
}

::placeholder { 
	color: #000 !important;
	opacity: 1;
	font-weight: bold;
  }