.social-icons {
    font-size: 22px;
    cursor: pointer;
}

.icon-style {
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.icon-style:hover {
    color: #019fb6 !important;
}

.copyright-text {
    float: left;
    opacity: 0.8;
    margin: 1rem !important;
}